# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*errores.txt

# Testing
coverage/
.nyc_output/

# Prisma
packages/api/src/infrastructure/prisma/migrations/*_migration_lock.toml

# Docker
docker/data/

# Playwright
packages/web/playwright-report/
packages/web/test-results/

# Misc
*.pid
*.seed
*.pid.lock

.vercel
