services:
  - type: web
    name: migestion-api
    env: node
    plan: free
    buildCommand: npm install && npx prisma generate --schema=./src/infrastructure/prisma/schema.prisma && npx prisma db push --schema=./src/infrastructure/prisma/schema.prisma --accept-data-loss && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRES_IN
        value: 1h
      - key: JWT_REFRESH_EXPIRES_IN
        value: 7d
      - key: CORS_ORIGIN
        value: https://migestion.vercel.app
      - key: REDIS_URL
        sync: false
